html {
	box-sizing: border-box;
  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

div {
  margin-bottom: 1em;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-weight: normal;
  font-style: italic;
  margin: 0;
}

header {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  overflow: hidden;
}

section {
  float: left;
  width: 25%;
}

img {
  width: 30%;
  display: block;
  margin-bottom: 2em;
  margin-right: 9em;
  margin-left: 2em;
}

body > section:last-child {
  background-color: #999;
}

body > section:nth-child(3) {
  background-color: #ccc;
}

body > section:nth-child(4) {
  background-color: #aaa;
}

.btn {
  width: 25%;
  font-size: 0.875em;
  background-color: #e2e2e2;
  text-align: left;
  overflow: hidden;
  float: left;
  border-left: .5px solid #000;
  border-right: .5px solid #000;
}

.btn-small {
  width: 25%;
  font-size: 0.875em;
  background-color: #333;
  border-left: .5px solid #000;
  border-right: .5px solid #000;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border: 3px;
  border-radius: 8px;
  padding: 1em;
}

.btn:hover {
  display: inline-block;
  background-color: #000;
}
